<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Skeleton</title>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
    
<template id="myForm">
  <div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
          <b-form-group id="emailInput"
                        label="Email address:"
                        label-for="emailInput1">
              <b-form-input id="emailInput1"
                        type="email"
                        v-model="form.email"
                        required
                        placeholder="Email here">
              </b-form-input>
          </b-form-group>
          <b-form-group id="firstNameInput"
                    label="First Name:"
                    label-for="nameFirst">
              <b-form-input id="nameFirst"
                    type="text"
                    v-model="form.firstName"
                    required
                    placeholder="Example: Panda">
              </b-form-input>
          </b-form-group>
         <b-form-group id="lastNameInput"
                label="Last Name:"
                label-for="nameLast">
            <b-form-input id="nameLast"
              type="text"
              v-model="form.lastname"
              required
              placeholder="Example: Poe">
            </b-form-input>
           </b-form-group>


           <b-form-group id="birthInput"
            label="Birthday:"
            label-for="birthDay">
            <b-form-input id="birthDay"
                type="date"
                v-model="form.birthday"
                required></b-form-input>
            </b-form-group>

           <b-form-group id ="discoveryInput"
           label="How did you hear about us?"
           label-for="discoveryOtc">
           <b-form-textarea id="discoveryOtc"
                type="text"
                v-model="form.discovery"
                placeholder="Enter something"
                :rows="3"
                :max-rows="6">
           </b-form-textarea>
        </b-form-group>
         
          <b-button type="submit" variant="primary">Register</b-button>
      </b-form>
  </div>
</template>

<div id="app">
  <my-form></my-form>
</div>

  
<script>
    Vue.component('my-form', {
        template: '#myForm',
        data() {
            return {
                form: {
                    email: '',
                    firstname: '',
                    lastname:'',
                    birthday:'',
                    discovery:'',
                    food: null,
                    checked: []
                },
                foods: [
                    {text: 'Select One', value: null},
                    'Carrots', 'Beans', 'Tomatoes', 'Corn'
                ],
                show: true
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault();
                alert(JSON.stringify(this.form));
            },
            onReset(evt) {
                evt.preventDefault();
                /* Reset our form values */
                this.form.email = '';
                this.form.firstname = '';
                this.form.lastname = '';
                this.form.discovery='';
                this.form.food = null;
                this.form.checked = [];
                /* Trick to reset/clear native browser form validation state */
                this.show = false;
                this.$nextTick(() => {
                    this.show = true
                });
            }
        }
    });
    new Vue({
        el: '#app'
    });
</script>
</body>
</html>