<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Skeleton</title>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="C:/Users/Aketzali/Desktop/NewTest/CSS/regForm.css" >

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<!-- 1) adding style="background-color: #525252"  worked in body, but i need to figure out how to correctly access the css file
     2) adding style=" background-image: url('lightPan.jpg'); " did not work in the body-->
<body>
    
<template id="myForm" >
  <div>
      <b-card class="mx-auto" style="max-width: 75%;margin-top:50px;" bg-variant="info" text-variant="white" >
       <!--Trials: 1)adding a class= "col-form-group" did not work
                      2) class="form-inline" , when placed in the b-form-group head it makes the label before 
                      3) class ="form-inline" when placein b-form-input- does nothing -->
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-container >
          <h1 class="text-center" style="font-family: Georgia, 'Times New Roman', Times, serif">Registration Form</h1>
            <b-row>
                <b-col>
                    <b-form-group id="firstNameInput"
                    label="First Name:"
                    label-for="nameFirst">
                         <b-form-input  id="nameFirst"
                            type="text"
                            v-model="form.firstName"
                            required
                            placeholder="Example: Panda">
                        </b-form-input>
                    </b-form-group>
                </b-col>
                <b-col> 
                    <b-form-group  id="lastNameInput"
                        label="Last Name:"
                        label-for="nameLast">
                        <b-form-input id="nameLast"
                            type="text"
                            v-model="form.lastname"
                            required
                            placeholder="Example: Poe">
                    </b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group id="emailInput"
                        label="Email address:"
                        label-for="emailInput1">
                        <b-form-input id="emailInput1"
                            type="email"
                            v-model="form.email"
                            required
                            placeholder="Email here">
                        </b-form-input>
                    </b-form-group>
                </b-col>
                <b-col>
                        <b-form-group id="birthInput"
                        label="Birthday:"
                        label-for="birthDay">
                        <b-form-input id="birthDay"
                            type="date"
                            v-model="form.birthday"
                            required>
                        </b-form-input>
                    </b-form-group>
                    
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group id ="discoveryInput"
                        label="How did you hear about us?"
                        label-for="discoveryOtc">
                        <b-form-textarea id="discoveryOtc"
                            type="text"
                            v-model="form.discovery"
                            placeholder="Enter Here"
                            :rows="3"
                            :max-rows="6">
                        </b-form-textarea>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <!--mx-auto class allows for horizontal center allignment-->
                <b-button class="mx-auto" type="submit" variant="success">Register</b-button>
            </b-row>
        </b-container>
        </b-form>
    </b-card>
  </div>
</template> 

<div id="app">
  <my-form></my-form>
</div>

  
<script>
    Vue.component('my-form', {
        template: '#myForm',
        data() {
            return {
                form: {
                    email: '',
                    firstname: '',
                    lastname:'',
                    birthday:'',
                    discovery:'',
                  
                },
                
                show: true
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault();
                alert(JSON.stringify(this.form));
            },
            onReset(evt) {
                evt.preventDefault();
                /* Reset our form values */
                this.form.email = '';
                this.form.firstname = '';
                this.form.lastname = '';
                this.form.birthday='';
                this.form.discovery='';
                /* Trick to reset/clear native browser form validation state */
                this.show = false;
                this.$nextTick(() => {
                    this.show = true
                });
            }
        }
    });
    new Vue({
        el: '#app'
    });
    
</script>
</body>
</html>